[Unit]
Description=Daily consistent Bitcoin Bot state backup

[Timer]
OnCalendar=*-*-* 01:25:00 UTC
RandomizedDelaySec=15m
Persistent=true
Unit=bitcoin-bot-state-backup.service

[Install]
WantedBy=timers.target

